bin/
/.vscode

src/package-lock\.json

src/build

src/node_modules/*
!src/node_modules/zeppelin-solidity/

src/node_modules/zeppelin-solidity/*
!src/node_modules/zeppelin-solidity/contracts/

src/node_modules/zeppelin-solidity/contracts/*
!src/node_modules/zeppelin-solidity/contracts/token/

src/node_modules/zeppelin-solidity/contracts/token/*
!src/node_modules/zeppelin-solidity/contracts/token/ERC20

src/node_modules/zeppelin-solidity/contracts/token/ERC20/*
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/PausableToken.sol
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/TokenVesting.sol
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/DetailedERC20.sol
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/ERC20.sol
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/ERC20Basic.sol
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/SafeERC20.sol
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/BasicToken.sol
!src/node_modules/zeppelin-solidity/contracts/token/ERC20/StandardToken.sol

!src/node_modules/zeppelin-solidity/contracts/ownership/
src/node_modules/zeppelin-solidity/contracts/ownership/*
!src/node_modules/zeppelin-solidity/contracts/ownership/Ownable.sol

!src/node_modules/zeppelin-solidity/contracts/math/
src/node_modules/zeppelin-solidity/contracts/math/*
!src/node_modules/zeppelin-solidity/contracts/math/SafeMath.sol

!src/node_modules/zeppelin-solidity/contracts/lifecycle/
src/node_modules/zeppelin-solidity/contracts/lifecycle/*
!src/node_modules/zeppelin-solidity/contracts/lifecycle/Pausable.sol

